body:after {
  content:
    url(../img/fashion/1.jpg) url(../img/fashion/2.jpg) url(../img/fashion/3.jpg) url(../img/fashion/4.jpg)
    url(../img/fashion/5.jpg) url(../img/fashion/6.jpg) url(../img/fashion/7.jpg) url(../img/fashion/8.jpg)
    url(../img/fashion/9.jpg) url(../img/fashion/10.jpg) url(../img/fashion/11.jpg) url(../img/fashion/12.jpg)
    url(../img/fashion/13.jpg) url(../img/fashion/14.jpg) url(../img/fashion/15.jpg) url(../img/fashion/16.jpg)
    url(../img/fashion/17.jpg) url(../img/fashion/18.jpg)
    url(../img/portraits/1.jpg) url(../img/portraits/2.jpg) url(../img/portraits/3.jpg) url(../img/portraits/4.jpg)
    url(../img/portraits/5.jpg) url(../img/portraits/6.jpg) url(../img/portraits/7.jpg) url(../img/portraits/8.jpg)
    url(../img/portraits/9.jpg) url(../img/portraits/10.jpg) url(../img/portraits/11.jpg) url(../img/portraits/12.jpg)
    url(../img/portraits/13.jpg) url(../img/portraits/14.jpg) url(../img/portraits/15.jpg) url(../img/portraits/16.jpg)
    url(../img/portraits/17.jpg)
    url(../img/travel/1.jpg) url(../img/travel/2.jpg) url(../img/travel/3.jpg) url(../img/travel/4.jpg)
    url(../img/travel/5.jpg) url(../img/travel/6.jpg) url(../img/travel/7.jpg) url(../img/travel/8.jpg)
    url(../img/travel/9.jpg) url(../img/travel/10.jpg) url(../img/travel/11.jpg) url(../img/travel/12.jpg)
    url(../img/travel/13.jpg) url(../img/travel/14.jpg) url(../img/travel/15.jpg) url(../img/travel/16.jpg)
    url(../img/travel/17.jpg) url(../img/travel/18.jpg) url(../img/travel/19.jpg) url(../img/travel/20.jpg)
    url(../img/travel/21.jpg) url(../img/travel/22.jpg) url(../img/travel/23.jpg)

    url(../img/fashion/large/1.jpg) url(../img/fashion/large/2.jpg) url(../img/fashion/large/3.jpg) url(../img/fashion/large/4.jpg)
    url(../img/fashion/large/5.jpg) url(../img/fashion/large/6.jpg) url(../img/fashion/large/7.jpg) url(../img/fashion/large/8.jpg)
    url(../img/fashion/large/9.jpg) url(../img/fashion/large/10.jpg) url(../img/fashion/large/11.jpg) url(../img/fashion/large/12.jpg)
    url(../img/fashion/large/13.jpg) url(../img/fashion/large/14.jpg) url(../img/fashion/large/15.jpg) url(../img/fashion/large/16.jpg)
    url(../img/fashion/large/17.jpg) url(../img/fashion/large/18.jpg)
    url(../img/portraits/large/1.jpg) url(../img/portraits/large/2.jpg) url(../img/portraits/large/3.jpg) url(../img/portraits/large/4.jpg)
    url(../img/portraits/large/5.jpg) url(../img/portraits/large/6.jpg) url(../img/portraits/large/7.jpg) url(../img/portraits/large/8.jpg)
    url(../img/portraits/large/9.jpg) url(../img/portraits/large/10.jpg) url(../img/portraits/large/11.jpg) url(../img/portraits/large/12.jpg)
    url(../img/portraits/large/13.jpg) url(../img/portraits/large/14.jpg) url(../img/portraits/large/15.jpg) url(../img/portraits/large/16.jpg)
    url(../img/portraits/large/17.jpg)
    url(../img/travel/large/1.jpg) url(../img/travel/large/2.jpg) url(../img/travel/large/3.jpg) url(../img/travel/large/4.jpg)
    url(../img/travel/large/5.jpg) url(../img/travel/large/6.jpg) url(../img/travel/large/7.jpg) url(../img/travel/large/8.jpg)
    url(../img/travel/large/9.jpg) url(../img/travel/large/10.jpg) url(../img/travel/large/11.jpg) url(../img/travel/large/12.jpg)
    url(../img/travel/large/13.jpg) url(../img/travel/large/14.jpg) url(../img/travel/large/15.jpg) url(../img/travel/large/16.jpg)
    url(../img/travel/large/17.jpg) url(../img/travel/large/18.jpg) url(../img/travel/large/19.jpg) url(../img/travel/large/20.jpg)
    url(../img/travel/large/21.jpg) url(../img/travel/large/22.jpg) url(../img/travel/large/23.jpg)
    ;
  display: none;
}
