.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  color: grey;
}
.fixed .nav {
  position: relative;
  top: 5rem;
  left: 10rem;
  width: 25rem;
  transform: rotateZ(90deg);
  float: right;
}
.fixed .nav ul { list-style-type: none; display: flex; }
.fixed .nav ul li {
  padding: 1rem;
  font-weight: 100;
}
.fixed .nav ul li, .name {
  letter-spacing: 3px;
  font-size: 1rem;
  cursor: default;
  text-transform: uppercase;
}
.name {
  text-align: left;
  color: black;
  width: 10rem;
  transform: rotateZ(270deg);
  position: relative;
  top: 2rem;
  right: 3rem;
  font-weight: 400;
  background: black;
  color: white;
  padding: .1rem;
  padding-left: .4rem;
}
.about {
  max-width: 50rem;
  padding: 5rem 4.4rem;
  margin-top: 10rem;
}
.about .short {
  letter-spacing: 1px;
  text-align: left;
  font-size: 2rem;
  font-weight: 100;
}
/*BUTTONS*/
.about ul { list-style-type: none; display: flex; padding-left: 0; }
.about ul li { padding-right: 2rem; text-transform: uppercase; }
.about ul li a { color: white; text-decoration: none; background: black; padding: .2rem .5rem .1rem .5rem; }

/*.about ul li a { display: block; transition: 1s; overflow: hidden; width: 100%; }
.about ul li a:before { position: absolute; color: black; z-index: -1; }
.about ul li:hover a { width: 0; padding: .2rem 0.5rem .1rem .5rem; }

#email { width: 4rem; }
#instagrma { width: 6.85rem; }

#email a:before { content: 'email'; }
#instagram a:before { content: 'instagram'; }*/


@media only screen and (max-width: 700px) {
  .fixed .nav { left: 11rem; }
  .name { right: 3.4rem; }
  .about { margin-top: 2rem; }
}

@media only screen and (max-width: 500px) {
  /*.fixed { z-index: -30; }*/
  .fixed .nav { display: none; }
  .name { transform: rotateZ(0deg); left: 0; top: 0; }
  .about { padding: 5rem 2rem; margin-top: 2rem; }
  .about .short { font-size: 1.8rem }
  .about a { padding: .1rem .5rem .1rem .5rem; }
}
@media only screen and (max-width: 350px) {
  .about .short { font-size: 1.4rem; }
}
