.navigation-wrapper {
  width: 70vw;
  margin: 5rem auto;
  .open {
    max-height: 10000rem !important;
  }
  .genre {
    width: 100%;
    margin: 2rem 0;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 2rem;
    color: black;
    max-height: 5.5rem;
    overflow: hidden;

    transition: .5s;
    .title { cursor: pointer; padding: .3rem }
    .photos {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      margin-top: 1rem;
      border-top: 5px solid black;
      padding-top: 2rem;
      .image-wrapper {
        margin-bottom: 5rem;
        .outline {
          position: relative;
          border: 25px solid white;
          pointer-events: none;
        }
        img {
          cursor: pointer;
          transition: 5s ease-out;
          transform: scale(1.05, 1.05);
          &:hover {
            transform: scale(1, 1);
            -webkit-filter: blur(2px);
          }
        }
      }
    }
  }
}
