.full-image-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.full-image-wrapper .full-image-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-image-wrapper img {
  max-height: 100vh;
  max-width: 100%;
}

.message {
  position: absolute;
  width: 100%;
  top: 1.5rem;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
}

@media only screen and (max-width: 414px) {

}
